{% extends 'base.html' %}

{% block title %}{{ course.name }}{% endblock %}
 
{% block content %}
    <h1>{{course.name}}</h1>
    <div class="main-wrapper">
    <div class="sidebar">
        <div class="course-details">
            <div class="tags-section">
                <h3>Tags</h3>
                {% for tag in course.tags.all %}
                    <div class="tag-item" style="background-color: {{tag.color}}">
                        {{tag.name}}
                    </div>
                {% endfor %}
            </div>
            <div class="sidebar-description">
                <h3>Description</h3>
                <p>{{course.description}}</p>
            </div>
        </div>
        <div class="course-nav">
            <h3>Course Content</h3>
            {% for content in course.content.all %}
                <div class="content-nav-item">
                    {{ content.name }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="core-content">
        <div class="course-information">
            <div class="core-details">
                Assignee: {{ course.assignee.username }}
            </div>
            <div class="progress-info">
                <span>Progress: {{ progress }}</span>
                <span>Page: {{ course.page }}</span>
            </div>
        </div>
        <div class="course-content">
            <iframe href="{{ course_link }}"/>
        </div>
    </div>
    </div>
{% endblock %}